/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.app-title-container {
  text-align: center;
  margin-top: 0;
  padding: 40px 20px;
  background: url('concert-image.jpeg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.app-title {
  position: absolute;
  top: 10%; 
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 20px;
  font-size: 2em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5); /* Adding a semi-transparent background to make the text more readable */
    font-family: 'Poppins', sans-serif;
}

.app-title-context{
  position: absolute;
  top: 30%; 
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 20px;
  font-size: 0.7em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5); /* Adding a semi-transparent background to make the text more readable */
    font-family: 'Poppins', sans-serif;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  min-height: 80vh; 
  margin: 0; 
  padding: 20px; 
}

.dashboard-item {
  width: 100% !important; 
  height: 1000px !important; 
  margin: 20px 0; 
  border: 2px solid black; 
}

.tableauPlaceholder {
  width: 100%;
  height: 100%;
  margin: 0; 
  padding: 0; 
  background: black; 
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.linkedin-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}